.tile-events {
  font-size: 0.6em;
  line-height: 1.2;
  max-height: 2.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-dot {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}
